@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Martel+Sans:wght@600&family=Montserrat:wght@700;800&family=Noto+Sans:wght@500&family=Nunito:wght@600&family=Open+Sans:wght@500&family=Poppins&family=Roboto+Condensed&family=Roboto+Slab:wght@500&family=Roboto:wght@500');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato:ital@1&family=Martel+Sans:wght@600&family=Montserrat:wght@700;800&family=Noto+Sans:wght@500&family=Nunito:wght@600&family=Open+Sans:wght@500&family=Poppins:wght@400;700&family=Roboto+Condensed&family=Roboto+Slab:wght@500&family=Roboto:wght@500&family=Teko:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-xl;
    }

    p {
        @apply text-xl;
    }
}

* {
    margin: 0;
    padding: 0;
}


body {
    /* background-color: #252525; */
    overflow-x: hidden;
}

.lato {
    font-family: 'Lato';
}

.roboto {
    font-family: 'Roboto';
}

.montserrat {
    font-family: 'Montserrat';
}

.robotoslab {
    font-family: 'Roboto slab';
}

.agbalumo {
    font-family: 'Agbalumo';
}

.martel-sans {
    font-family: 'Martel sans';
}

.helvetica-neue {
    font-family: 'Helvetica Neue';
}

.text-justify {
    text-align: justify;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: 'Roboto', serif !important;
    width: 100vw !important;
}

.categories {
    margin: auto !important;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}


.nav-links {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.nav-links li {
    position: relative;
    margin-right: 1rem;
    font-size: 1.09rem;
}


.nav-links li:last-child {
    margin-right: 1rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.mobile-menu-icon {
    display: none !important;
}


/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.582);
    top: 110%;
    left: 0;
}

.search-icon {
    margin-top: 0.3rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.left {
    width: 50%;
}


.dropdown-active {
    display: inline-block;
    z-index: 1;
}

.dropdown li {
    border-bottom: 1px solid #666;
    list-style: none;
    width: 12rem;
}

.dropdown a {
    padding: 1rem 1rem;
    margin: 0 1rem;
    width: auto;
}


.bars {
    color: white !important;
    background-color: white;
}


.loginbtn a {
    color: #2c2c2c;
    text-decoration: none;
}

.loginbtn {
    border: none;
}

.dropdown-active {
    display: none;
}

.mega-menu-full .dropdown {
    display: none;
}

.service:hover .dropdown {
    display: block !important;
    position: absolute !important;
}

.video {
    border-radius: 2rem;
}

.left-right-content {
    width: 90%;
    margin: auto;
}

.left-content video {
    width: 65% !important;
}

/* .right {
    width: 70%;
}  */

/* .right p {
    font-size: 1.1rem;
} */


.top-right {
    width: 120%;
}

.top-left {
    width: 120%;
}


.top-right img {
    scale: 1.2;
}

.top-section {
    width: 85%;
    height: 70vh !important;
    display: flex;
    align-items: center;
}

.parent {
    position: relative;
}

.parallax::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url("/images/bg3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.7;
}

.parallax2::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url("/images/bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.9;
}

.parallax3::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url("/images/bg3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
}

.parallax {
    font-family: 'Lato' !important;
}

.left-right-content {
    margin-top: 7rem !important;
}


/* body::before {
    background: url('top-image1 (1).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh !important;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
} */
.home-page {
    background-image: url('/images/top-image1 (1).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.topbar {
    z-index: -1;
}

.left-content {
    width: 100%;
}

.left-content video {
    width: 88%;
}

.category-section {
    width: 85%;
}

.show-mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section {
    width: 85%;
    margin: 4rem auto !important;
}

.dark {
    color: rgba(255, 0, 0, 0.705) !important;
}

.border {
    background-color: rgba(255, 0, 0, 0.705) !important;
}

.card {
    cursor: pointer;
}

.card:hover img {
    transform: scale(1.3) rotate(-15deg) !important;
}

.card-image {
    transition: transform 0.3s ease !important;
}


#blog {
    padding-top: 75px;
    padding-bottom: 100px;
    background: url("../images/blog/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#blog:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/overlay-pattern.png") #000000;
    opacity: 0.3;
}

#blog .block .heading {
    color: #fff;
}

#blog .block ul {
    padding-top: 40px;
}

#blog .block ul li {

    /* width: 100%; */
    background: rgb(255, 255, 255);
    text-align: center;
    color: #959595;
    transform: 1s;
}

#blog .block ul li:hover img {
    transform: scale(1.2) rotate(10deg);
}

#blog .block ul li h3 {
    color: #323232;
    padding: 0px 40px 20px;
    line-height: 26px;
    position: relative;
}

#blog .block ul li h3:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 90px;
    height: 1px;
    background: #CBC4B5;
    margin-left: -45px;
}

#blog .block ul li p {
    padding: 13px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

#blog .block ul li .blog-img {

    width: 100%;

    overflow: hidden;
}

#blog .block ul li .blog-img img {

    width: 100%;
}

#blog .block ul li .blog-img img {
    -webkit-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

#blog .block ul li .blog-img-2 {
    width: 50%;
    float: right;
    overflow: hidden;
}

#blog .block ul li .blog-img-2 img {
    -webkit-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
    width: 100%;
}

#blog .block ul li .content-right {
    padding: 40px 35px 23px;
    font-size: 16px;
    line-height: 26px;
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
}

#blog .block ul li .content-right:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: #fff;
    transform: rotate(45deg);
    margin-left: -15px;
}

#blog .block ul li .content-left {
    padding: 40px 35px 23px;
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 999;
}

#blog .block ul li .content-left:after {
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: 0px;
    background: #fff;
    transform: rotate(45deg);
}

#blog .block .btn-more-info {
    float: right;
    padding: 28px 102.5px;
    border-radius: 0px;
    background: #b21712;
    color: #fff;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
}

#blog .block .btn-more-info:hover {
    background: transparent;
    color: #b21712;
    border: 1px solid #b21712;
}


@media screen and (max-width: 1068px) {
    .top-section {
        flex-wrap: wrap !important;
        height: 80vh !important;
    }

    body::before {
        height: 130vh !important;
    }

    .top-left p {
        font-size: 0.97rem;
    }

    .top-left h1 {
        font-size: 2rem;
    }

    .left-right-content {
        display: flex;
        flex-wrap: wrap !important;
    }

    .left-content video {
        width: 100%;
    }

    .category-section {
        width: 100%;
    }

    .left-content video {
        display: none;
    }

    .right h1 {
        font-size: 2.2rem;
        text-align: center;
    }


    .left-nav {
        width: 70vw;
        justify-content: space-around;
    }

    .nav-links {
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: left 0.5s ease-in-out !important;
        z-index: 30;
    }


    .show-mobile-menu {
        left: 0;
    }

    .mobile-menu-icon {
        display: block !important;
        cursor: pointer;
        color: black;
        font-size: 2rem;
        position: fixed;
        left: 2rem;
        z-index: 40;
    }


}

@media screen and (max-width: 640px) {
    .card {
        width: 24rem !important;
    }


    h1 {
        font-size: 1.8rem !important;
    }

    p {
        font-size: 1.1rem;
    }
}


.footer {
    width: 100%;
    background-color: black;
    font-family: 'Mukta', sans-serif;
    color: white;
    margin-top: 40px;
}

.footer .col {
    width: 230px;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

.footer .col h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 20px 0;
    color: white;
    text-transform: uppercase;
}

.footer .col ul {
    list-style-type: none;
    padding: 0;
}

.footer .col ul li {
    color: white;
    font-size: 18px;
    padding: 10px 0px;
    transition: all 0.3s;
}

.address ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    cursor: pointer;
    color: lightgray;
    font-weight: bold;
}

.clearfix {
    clear: both;
}

.left-nav {
    width: 80% !important;
    justify-content: space-around;
}

@media only screen and (max-width: 1139px) {
    .contain .address {
        width: 1000px;
    }

    .disable {
        display: none;
    }

    .contain {
        display: flex;
        flex-direction: column !important;
    }

    .contain .col {
        width: 100% !important;
    }

    .categories{
        margin: auto !important;
    }

    .address h2 {
        margin: 0px;
    }

    .left-right-content {
        flex-wrap: wrap;
    }

    .right {
        margin-top: 2rem;
    }

    .star-section {
        margin-top: 0 !important;
    }

    .star-contents {
        /* flex-wrap: wrap !important; */
        display: grid !important;
        grid-column: auto auto !important;
    }

    .star {
        flex-grow: 1;
    }

    .main-content {
        width: 68vw;
    }

    .main-heading {
        font-size: 2.3rem !important;
    }

    .main-subheading {
        font-size: 1rem !important;
    }

    .left-right-content {
        width: 100vw;
        margin: auto;
    }

    .left-content p {
        font-size: 1rem !important;
    }

    .cards {
        flex-wrap: wrap !important;
    }

    .testinomial-card {
        width: 18rem !important;
    }

    .logo {
        position: relative;
        left: 2rem !important;
    }
    .logo img{
        height: 7rem !important;
        width: 8rem !important;
    }
    .home-page {
        height: 110vh !important;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 100%;
    }

    .footer .col h2 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }

    .logo img {
        float: right !important;
    }

    .card {
        width: 20rem !important;
    }
}

@media only screen and (min-width: 600px) and (max-width: 950px) {
    .card {
        width: 23rem !important;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

    .footer .col h2 {
        font-size: 16px;
    }

    .footer .col ul li {
        font-size: 14px;
    }

    .card {
        width: 18rem !important;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}

.social {
    margin-left: 500px;
}